body { margin: 0; color: black; font: normal 18px/28px "Roboto Bold", Arial, sans-serif;}
.clear { clear: both;}
p { margin: 0; padding: 10px 0; font-size: 16px;}
a { color: #0000ff; text-decoration: none;}
a:hover { color: #7777ff;}
a img { border: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: bold; color: #000;}
h1 { padding: 40px 0 24px; line-height: 1.4em; font-size: 41px; color: white;}
h2 { padding: 40px 0 12px; font-size: 26px;}
strong { font-weight: bold;}
em { font-style: italic;}
form, menu, iframe { display: block; margin: 0; padding: 0; border: none;}
ol, ul, dl, li, dt, dd { margin: 0; padding: 0; }
* { outline: none;}


body {
	background-image: linear-gradient(to bottom, #0244a5 0, #0248a8 22px, #0759af 43px, #1f6bc1 44px, #004498 45px, #fff 520px,
	#fff 100%);
}

.clearfix:after
 { 
	content: "";
	display: block; 
	clear: both;
 }

.resize {
	width: 1000px;
	margin: 0 auto;

}

.menu ul {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
}

.menu li a {
	color: white;
}

.menu li  {
	color: #2789c9;
}

.logo {
	text-align: center;
}

.text_header {
	width: 350px;
	text-align: right;
	color: white;
}

.text_header_small {
	font-size: 12px;
}

.img_video {
	float: right;
	border-radius: 5px;
}

.article {
	width: 68%;
}

.article ul {
	padding-left: 25px;
}

.article p {
	font-size: 12px;
	color: #424242;
}

.article_2 li  {
	color: #913517;
	line-height: 6px;
    font-size: 25px;
}

.article_1 {
	border-bottom: 1px dashed #d9d9d9; 
	padding-bottom: 30px;
}

ul.article_2  {
	border-bottom: 1px dashed #d9d9d9; 
	padding-bottom: 30px;
}

.img_sunset  {
	text-align: center;
}

.img_sunset img {
	box-shadow: 0px 6px 10px 5px #d7d7d7;
}

.button {
	text-align: center;	
}

.button a {
	color: white;
	font-size: 20px;
	background: linear-gradient(to top, #8a2f12, #a04223); 
	border-radius: 3px;
	border-top: 1px solid #c58b78;
	padding: 10px 6px;
	width: 195px;
	display: inline-block;
}

.video {
	background-image: url(D:/work/2019-04/business-expert/html/images/main_bg.png);
	padding: 21px 20px 37px 0;
}

